<div class="header-container">
  <header>
    <h1 class="title">{{title}}</h1>
  </header>
</div>

<div class="main-container">
  <router-outlet></router-outlet>
</div>

<div class="footer-container">
  <footer>
    <a routerLink="/">Home</a> |
    <a routerLink="/about">About</a> |
    <a routerLink="/parent-to-child">ParentToChild</a> |
    <a routerLink="/parent-to-child-input">ParentToChildInput</a> |
    <a routerLink="/child-to-parent">ChildToParent</a> |
    <a routerLink="/view-child">viewChild</a> |
    <a routerLink="/view-children">viewChildren</a> |
    <a routerLink="/content-child">contentChild</a> |
    <a routerLink="/content-children">contentChildren</a> |
    <a routerLink="/hello-service">HelloService</a> |
    <a routerLink="/oop-service">OopService</a> |
    <a routerLink="/mock-service">MockService</a> |
    <a routerLink="/promise-service">PromiseService</a> |
    <a routerLink="/shared-service">SharedService</a> |
    <a routerLink="/member-list">MemberList</a> |
    <a routerLink="/player">Player</a> |
    <a routerLink="/lazy">PlayerLazy</a> |
    <a routerLink="/children">children(canActive)</a> |
    <a routerLink="/children/3">children(canDeactivate)</a> |
    <a routerLink="/app-value-provider">appValueProvider</a> |
    <a routerLink="/app-factory-provider">appFactoryProvider</a> |
    <a routerLink="/app-class-provider">appClassProvider</a> |
    <a routerLink="/app-alias-provider">appAliasProvider</a> |
    <a routerLink="/app-inject-decorator">appInjectDecorator</a> |
    <a routerLink="/app-optional-decorator">appOptionalDecorator</a> |
    <a routerLink="/app-factory">appFactory</a> |
    <a routerLink="/app-reflective-injector">appReflectiveInjector</a> |
    <a routerLink="/app-interpolation">appInterpolation</a> |
    <a routerLink="/app-oneway-expression">appOnewayExpression</a> |
    <a routerLink="/app-oneway-statement">appOnewayStatement</a> |
    <a routerLink="/app-twoway-ngmodel">appTwowayNgmodel</a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |

  </footer>
</div>
