<div class="header-container">
  <header>
    <h1 class="title">{{title}}</h1>
  </header>
</div>

<div class="main-container">
  <router-outlet></router-outlet>
</div>

<div class="footer-container">
  <footer>
    <a routerLink="/">Home</a> |
    <a routerLink="/about">About</a> |
    <a routerLink="/parent-to-child">ParentToChild</a> |
    <a routerLink="/parent-to-child-input">ParentToChildInput</a> |
    <a routerLink="/child-to-parent">ChildToParent</a> |
    <a routerLink="/view-child">viewChild</a> |
    <a routerLink="/view-children">viewChildren</a> |
    <a routerLink="/content-child">contentChild</a> |
    <a routerLink="/content-children">contentChildren</a> |
    <a routerLink="/hello-service">HelloService</a> |
    <a routerLink="/oop-service">OopService</a> |
    <a routerLink="/mock-service">MockService</a> |
    <a routerLink="/promise-service">PromiseService</a> |
    <a routerLink="/shared-service">SharedService</a> |
    <a routerLink="/member-list">MemberList</a> |
    <a routerLink="/player">Player</a> |
    <a routerLink="/lazy">PlayerLazy</a> |
    <a routerLink="/children">children(canActive)</a> |
    <a routerLink="/children/3">children(canDeactivate)</a> |
    <a routerLink="/app-value-provider">appValueProvider</a> |
    <a routerLink="/app-factory-provider">appFactoryProvider</a> |
    <a routerLink="/app-class-provider">appClassProvider</a> |
    <a routerLink="/app-alias-provider">appAliasProvider</a> |
    <a routerLink="/app-inject-decorator">appInjectDecorator</a> |
    <a routerLink="/app-optional-decorator">appOptionalDecorator</a> |
    <a routerLink="/app-factory">appFactory</a> |
    <a routerLink="/app-reflective-injector">appReflectiveInjector</a> |
    <a routerLink="/app-interpolation">appInterpolation</a> |
    <a routerLink="/app-oneway-expression">appOnewayExpression</a> |
    <a routerLink="/app-oneway-statement">appOnewayStatement</a> |
    <a routerLink="/app-twoway-ngmodel">appTwowayNgmodel</a> |
    <a routerLink="/app-ngclass">appNgClass</a> |
    <a routerLink="/app-ngstyle">appNgStyle</a> |
    <a routerLink="/app-ngif">appNgif</a> |
    <a routerLink="/app-ngswitch">appNgswitch</a> |
    <a routerLink="/app-ngfor">appNgfor</a> |
    <a routerLink="/app-template-ngfor">appTemplateNgfor</a> |
    <a routerLink="/app-template-input-variables">appTemlateInputVariables</a> |
    <a routerLink="/app-template-reference-variables">appTemplateReferenceVariables</a> |
    <a routerLink="/app-custom-directive">appCustomDirective</a> |
    <a routerLink="/app-element-rendering">appElementRendering</a> |
    <a routerLink="/app-pass-to-directive">appPassToDirective</a> |
    <a routerLink="/app-binding-to-directive">appBindingToDirective</a> |
    <a routerLink="/app-custom-attr-directive">appCustomAttrDirective</a> |
    <a routerLink="/app-custom-structural-directive">appCustomStructuralDirective</a> |
    <a routerLink="/app-highlight-directive">appHighlightDirective</a> |
    <a routerLink="/app-date-expression">appDateExpression</a> |
    <a routerLink="/app-date-formats">appDateFormats</a> |
    <a routerLink="/app-date-etc">appDateEtc</a> |
    <a routerLink="/app-upper-lower">appUpperLower</a> |
    <a routerLink="/app-async">appAsync</a> |
    <a routerLink="/app-currency">appCurrency</a> |
    <a routerLink="/app-decimal">appDecimal</a> |
    <a routerLink="/app-json">appJson</a> |
    <a routerLink="/app-i18n-select">appI18nSelect</a> |
    <a routerLink="/app-i18n-plural">appI18nPlural</a> |
    <a routerLink="/app-chaining-pipes">appChainingPipes</a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
    <a routerLink="/"></a> |
  </footer>
</div>
